<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Heavy Metal Machine</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/abcb054d0c.js" crossorigin="anonymous" defer></script>
  </head>
  <body>
      <nav class="navbar is-light" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          Heavy Metal Machine
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="heavyMetalNavbar">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="heavyMetalNavbar" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item">
            Home
          </a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
          </div>
        </div>
      </div>
    </nav>
    <main>
      <section class="section">
        <div class="container">
          <div class="columns">
            <div class="column is-three-fifths is-offset-one-fifth">
              <form action="{% url 'posts:update' post.id %}" method="post">
                {% csrf_token %}
                <div class="field">
                  <label class="label" for="title">Title</label>
                  <div class="control">
                    <input class="input" type="text" name="title" id="title" value="{{ post.title }}" required>
                  </div>
                </div>
                <div class="field">
                  <label class="label" for="body">Body</label>
                  <div class="control">
                    <textarea class="textarea" name="body" id="body">{{ post.body_content }}</textarea>
                  </div>
                </div>
                <div class="field">
                  <label class="label" for="publish_date">Publish Date</label>
                  <div class="control">
                    <input class="input" type="datetime-local" name="publish_date" id="publish_date" value="{{ post.publish_date|date:'Y-m-d' }}T{{ post.publish_date|time:'H:i:s' }}" required>
                  </div>
                </div>
                <div class="field">
                  <p class="control">
                    <input class="button is-success" type="submit" value="Save">
                  </p>
                </div>
              </form>
              <hr>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>